/compendio_ejercicios_calculo.aux
/compendio_ejercicios_calculo.dvi
/compendio_ejercicios_calculo.log
/compendio_ejercicios_calculo.out
/compendio_ejercicios_calculo.ps
/compendio_ejercicios_calculo.toc
/ejercicios_calculo_farmacia_2011-2012.aux
/ejercicios_calculo_farmacia_2011-2012.dvi
/ejercicios_calculo_farmacia_2011-2012.log
/ejercicios_calculo_farmacia_2011-2012.out
/ejercicios_calculo_farmacia_2011-2012.ps
/ejercicios_calculo_farmacia_2011-2012.toc
/ejercicios_calculo_farmacia_2012-2013.aux
/ejercicios_calculo_farmacia_2012-2013.dvi
/ejercicios_calculo_farmacia_2012-2013.log
/ejercicios_calculo_farmacia_2012-2013.out
/ejercicios_calculo_farmacia_2012-2013.ps
/ejercicios_calculo_farmacia_2012-2013.toc
/missfont.log
/ejercicios_calculo_farmacia_2013-2014.aux
/ejercicios_calculo_farmacia_2013-2014.dvi
/ejercicios_calculo_farmacia_2013-2014.log
/ejercicios_calculo_farmacia_2013-2014.out
/ejercicios_calculo_farmacia_2013-2014.ps
/ejercicios_calculo_farmacia_2013-2014.toc
