/ejercicios_calculo_farmacia_2012-2013.aux
/ejercicios_calculo_farmacia_2012-2013.dvi
/ejercicios_calculo_farmacia_2012-2013.log
/ejercicios_calculo_farmacia_2012-2013.out
/ejercicios_calculo_farmacia_2012-2013.ps
/ejercicios_calculo_farmacia_2012-2013.toc
